.App {
  text-align: center;
}

/* App.css */

.navbar {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}


.modalBox {
  background-color: aqua;
  height: 30%;
  width: 30%;
  margin: auto;
  margin-top: 5%;

}

.divTable {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 40em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.divBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divBodyRow {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Image styling */
.divBody img {
  max-width: 100%;
  height: auto;
}

/* Info rows styling */
.divRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.divCellLabel {
  flex: 1;
  margin-right: 10px;
  color: #555;
}

.divCellValue {
  flex: 2;
  font-weight: bold;
}

/* Abilities styling */
.divAbilityName {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 5px;
  font-size: 12px;
}

/* Stats and Abilities styling */
.divStatAbilities {
  margin-top: 20px;
}

.divStatAbilitiesTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.divStatRow {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.divStatLabel {
  flex: 1;
  color: #555;
}

.divStatValue {
  flex: 2;
  display: flex;
  align-items: center;
}

.divStatName {
  font-weight: bold;
  margin-right: 5px;
}

/* Ability list styling */
.divAbilityList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.divAbilityName {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 2px 5px;
  font-size: 12px;
}

/* Input styling */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Form styling */
form {
  text-align: center;
}

/* RandomDrink.css */

.random-drink-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f0f0f0;
  height: 90vh; /* Set the height to 90% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-drink-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.get-drink-button:hover {
  background-color: #0056b3;
}

.drink-name {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.drink-details {
  display: flex;
  align-items: center;
}

.drink-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 aspect ratio (adjust as needed) */
  overflow: hidden;
}

.drink-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.drink-content {
  flex: 1;
  text-align: left;
}

.ingredients-list {
  list-style: disc;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.drink-instructions {
  font-size: 16px;
  color: #333;
}